:root{
  background-color: aqua;

}

.div1{
  border: 2px solid black;
  margin: 34px;
  padding: 34px;
  background-color: bisque;
}
.div2{
  border: 2px solid black;
  margin: 34px;
  padding: 34px;
  background-color: bisque;
}
.div3{
  border: 2px solid black;
  margin: 34px;
  padding: 34px;
  background-color: bisque;
}
.div4{
  border: 2px solid black;
  margin: 34px;
  padding: 34px;
  background-color: bisque;
}
.div5{
  border: 2px solid black;
  margin: 34px;
  padding: 34px;
  background-color: bisque;
}
