body {
    background-color: #c1f76b;
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmVhY2h8ZW58MHx8MHx8&w=1000&q=80");
}

h1 {
    color: #f7c76b;
    background-color: #6b7cf7;
}